<%- include ('./common/header'); -%>
<%- include ('./common/topMenu'); -%>
<link rel="stylesheet" href="/stylesheets/main.css" type="text/css">

<script>
    // function test(str){
    //     if(str == null || str == ""){ alert ('검색어를 입력하세요.'); return;}

    //     $.ajax({
    //         //url: "/test/jQueryAjaxGet",
    //         url:"/hidden/searchMovieForInsert",
    //         type:"get",
    //         data: {
    //             query: str
    //         },
    //         dataType: "json",
    //         success: function(data) {
    //             //alert(data);
    //             alert("검색완료");
    //             console.log(JSON.stringify(data));
    //             console.log(data.items);
                
    //             /**
    //              * 20191209 현규
    //              * 네이버 영화 api 연동
    //              * 네이버 api에선 영화 검색밖에 지원을 안하네요
    //              * 해당 정보를 직접 리스트에 뿌리기는 그렇고
    //              */
    //             // 네이버api통한 영화 검색시 필요로하는 정보는 items array안에 있습니다.
    //             //
    //             var div = $("#popularMovieList");
    //             var ul = $("<ul style='display:flex; flex-direction: row; justify-content: space-around; padding:0px;'>").appendTo(div);
    //             for(var i=0; i<data.items.length;i++){
    //                 var li = $("<li>").appendTo(ul);
    //                 $("<div>").html("<img src='"+data.items[i].image+"'>").appendTo(li);
    //                 $("<div>").html(data.items[i].title).appendTo(li); 
    // 	            $("<div>").html("평점 : "+data.items[i].userRating).appendTo(li); 
    //             }
    //         },
    //         error: function(err){
    //             alert(err);
    //         }
    //     });
    // };

    //onload
    $(document).ready(function(){
        $("#ajaxGet").click(function(){
            $.ajax({
                url: '/test/jQueryAjaxGet',
                type:'get',
                success: function(data) {
                    alert(data);
                },
                error: function(err){
                    alert(err);
                }
            });
        });

        $("#ajaxPost").click(function(){
            $.ajax({
                url: '/test/jQueryAjaxPost',
                type:'post',
                success: function(data) {
                    alert(data);
                },
                error: function(err){
                    alert(err);
                }
            });
        });

        /*191209 현규
        바닐라 자바스크립트로 캐러셀 만들기
        */
        const SHOWING_CLASS ="showing";
        const firstSlide = document.querySelector(".slider__item:first-child");
        //firstSlide.addClass(SHOWING_CLASS);
        function slide(){
            const currentSlide = document.querySelector(`.${SHOWING_CLASS}`);
            //console.log(currentSlide);
            if(currentSlide){
                currentSlide.classList.remove(SHOWING_CLASS);
                const nextSlide = currentSlide.nextElementSibling;
                if(nextSlide){
                    nextSlide.classList.add(SHOWING_CLASS);
                }else{
                    firstSlide.classList.add(SHOWING_CLASS);
                }
            }else{
                firstSlide.classList.add(SHOWING_CLASS);
            }
        }
        slide();
        setInterval(slide, 2000); //자동스크롤

        //20191210
        //실시간 인기 top5 영화
        getPopularMovieList();
        //최신 발매
        getLatestMovieList();
    });

    // 실시간 인기 top5목록
    function getPopularMovieList(){
        $.ajax({
            url:"/movie/getPopularMovieList",
            type:"get",
            dataType: "json",
            success: function(data) {
                var div = $("#popularMovieList");
                var ul = $("<ul style='display:flex; flex-direction: row; justify-content: space-around; padding:0px;'>").appendTo(div);
                console.log(data);
                console.log(data.length);
                for(var i=0; i<data.length;i++){
                    var li = $("<li>").bind("click",data[i].movie_seq,function(e){goView(e.data)}).appendTo(ul);
                    $("<div>").html("<img src='"+data[i].image_url+"'>").appendTo(li);
                    $("<div>").html(data[i].movie_title).appendTo(li); 
    	            $("<div>").html("평점 : "+data[i].user_rating).appendTo(li); 
                }
            },
            error: function(err){
                alert(err);
            }
        });
    }

    //최신 개봉 영화 순
    function getLatestMovieList(){
        $.ajax({
            url:"/movie/getLatestMovieList",
            type:"get",
            dataType: "json",
            success: function(data) {
                var div = $("#latestMovieList");
                var ul = $("<ul style='display:flex; flex-direction: row; justify-content: space-around; padding:0px;'>").appendTo(div);
                console.log(data);
                console.log(data.length);
                for(var i=0; i<data.length;i++){
                    var li = $("<li>").bind("click",data[i].movie_seq,function(e){goView(e.data)}).appendTo(ul);
                    $("<div>").html("<img src='"+data[i].image_url+"'>").appendTo(li);
                    $("<div>").html(data[i].movie_title).appendTo(li); 
    	            $("<div>").html("평점 : "+data[i].user_rating).appendTo(li); 
                }
            },
            error: function(err){
                alert(err);
            }
        });
    }

    function goView(movieSeq){
        frm.movieSeq.value = movieSeq;
        goPage("/getMovieView");
    }

    function goPage(forwardStr){
        frm.action = forwardStr;
        frm.target = "_self";
        frm.submit();
    }

</script>

<!-- movieSeq넘기기 위한 히든값입니다. -->
<input type="hidden" name="movieSeq"/>
<!-- 
    191205 현규
    Ajax추가, 확인
 -->
 <div id="movieSliderContainer">
    <div class="slider">
        <ul style="display:flex; flex-direction: row; justify-content: space-around; padding:0px;">
            <li class="slider__item">
                <div><img src="http://img.movist.com/?img=/x00/05/13/60_p1.jpg" style="width: 200px;"></div>
                <div>겨울왕국2</div>
                <div>평점1</div>
                <div>가격</div>
            </li>
            <li class="slider__item">
                <div><img src="http://img.movist.com/?img=/x00/05/13/60_p1.jpg" style="width: 200px;"></div>
                <div>겨울왕국2</div>
                <div>평점2</div>
                <div>가격</div>
            </li>
            <li class="slider__item">
                <div><img src="http://img.movist.com/?img=/x00/05/13/60_p1.jpg" style="width: 200px;"></div>
                <div>겨울왕국2</div>
                <div>평점3</div>
                <div>가격</div>
            </li>
            <li class="slider__item">
                <div><img src="http://img.movist.com/?img=/x00/05/13/60_p1.jpg" style="width: 200px;"></div>
                <div>겨울왕국2</div>
                <div>평점4</div>
                <div>가격</div>
            </li>
            <li class="slider__item">
                <div><img src="http://img.movist.com/?img=/x00/05/13/60_p1.jpg" style="width: 200px;"></div>
                <div>겨울왕국2</div>
                <div>평점5</div>
                <div>가격</div>
            </li>
        </ul>
    </div>
</div>
<div id="contentsContainer">

    <div id="movieContainer">
        <!-- 1. 인기영화 -->
        <!--
            인기영화는 movie_info table의 컬럼 중
            streaming_cnt의 횟수가 높은 기준으로 5개를 선정하여
            리스트로 보여줍니다.
        -->
        <div class="popular">
            <div class="contents">
                <div class="boxTitle">실시간 인기 TOP5</div>
                <div class="box" id="popularMovieList">
                </div>
            </div>
        </div>

        <!-- 2. 최신영화 -->
        <!-- 
            최신영화는 releaseDate desc 순으로 보여줍니다...만
            네이버 api에서 개봉일을 년도까지만 제공해서
            금일 기준으로 영화 검색의 top 5개를 뽑았습니다.
        -->
        <div class="latest">
            <div class="contents">
                <div class="boxTitle">최신영화</div>
                <div class="box" id="latestMovieList">
                </div>
            </div> 
        </div>
        <!-- 3. 영화 예고편 -->
        <!--
            시간관계상
            유튜브 링크로 대체?
        -->
        <div id="movieTrailerList" class="trailer">
            <div class="contents">
                <div class="boxTitle">인기 예고편</div>
                <div class="box">
                    <ul style="display:flex; flex-direction: row; justify-content: space-around; padding:0px; list-style-type: none;">
                        <li>
                            <div>
                                <iframe width="300" height="200" src="https://www.youtube.com/embed/9Dfkx9vEPw0" frameborder="0"></iframe>
                                <a href="#" style="display:block">블랙위도우</a>
                            </div>
                        </li>
                        <li>
                            <div>
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/FKAbTcss1ow" frameborder="0"></iframe>
                            <a href="#" style="display:block">백두산</a>
                        </div>
                        </li>
                        <li>
                            <div>
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/FX-XQpeilms" frameborder="0"></iframe>
                            <a href="#" style="display:block">해치지않아</a>
                            </div>
                        </li>
                        <li>
                            <div>
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/x60mB0zXZ38" frameborder="0" ></iframe>
                            <a href="#" style="display:block">조커</a>
                        </div>
                        </li>
                        <li>
                            <div>
                            <iframe width="300" height="200" src="https://www.youtube.com/embed/jDirUVKQbSE" frameborder="0"></iframe>
                            <a href="#" style="display:block">뮬란</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include ('./common/footer'); -%>
