<%- include ('./common/header'); -%>
<%- include ('./common/topMenu'); -%>
<link rel="stylesheet" href="/stylesheets/main.css" type="text/css">

<script>
    //onload -> init()
    $(document).ready(function(){
        /*191209 현규
        바닐라 자바스크립트로 캐러셀 만들기
        */
        const SHOWING_CLASS ="showing";
        const firstSlide = document.querySelector(".slider__item:first-child");
        //firstSlide.addClass(SHOWING_CLASS);
        function slide(){
            const currentSlide = document.querySelector(`.${SHOWING_CLASS}`);
            //console.log(currentSlide);
            if(currentSlide){
                currentSlide.classList.remove(SHOWING_CLASS);
                const nextSlide = currentSlide.nextElementSibling;
                if(nextSlide){
                    nextSlide.classList.add(SHOWING_CLASS);
                }else{
                    firstSlide.classList.add(SHOWING_CLASS);
                }
            }else{
                firstSlide.classList.add(SHOWING_CLASS);
            }
        }
        slide();
        setInterval(slide, 2000); //캐러셀 자동스크롤
        
        //20191210
        //실시간 인기 top5 영화
        getPopularMovieList();
        //최신 발매
        getLatestMovieList();
        //영화 리스트 무한 슬라이더
        // slideMove();
    });

    //영화 리스트 무한 슬라이더용 변수
    // var ul = document.querySelector('.slide_wrap');
    // var firstItemClone = ul.firstElementChild.cloneNode(true);
    // ul.appendChild(firstItemClone);

    // function slideMove(){
    //     var curIndex = 0;
    //     setInterval(function(){
    //         ul.style.transition = '0.2s';
    //         ul.style.transform = "translate3d(-"+200*(curIndex+1)+"px, 0px, 0px)";
    //         curIndex++;
    //         if(curIndex === 5){
    //             setTimeout(function(){
    //                 ul.style.transition = '0s';
    //                 ul.style.transform = "translate3d(0px, 0px, 0px)";
    //             },201)
    //             curIndex = 0;
    //         }
    //     },1000);
    // }

    /**
     * 191210 동적 캐러셀
     * 
     */
    function getMovieCarousel(){
        $.ajax({
            url:"/movie/getMovieCarousel",
            type:"get",
            dataType: "json",
            success: function(data) {
                var div = $("#movieCarouselContainer");
                div.addClass("slider");
                var ul = $("<ul style='display:flex; flex-direction: row; justify-content: space-around; padding:0px;'>").appendTo(div);
                for(var i=0; i<data.length;i++){
                    var li = $("<li>").addClass("slider__item").bind("click",data[i].movie_seq,function(e){goView(e.data)}).appendTo(ul);
                    $("<div>").html("<img src='"+data[i].image_url+"'>").appendTo(li);
                    $("<div>").html(data[i].movie_title).appendTo(li); 
    	            $("<div>").html("평점 : "+data[i].user_rating).appendTo(li); 
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    }

    // 실시간 인기 top5목록
    function getPopularMovieList(){
        $.ajax({
            url:"/movie/getPopularMovieList",
            type:"get",
            dataType: "json",
            success: function(data) {
                var div = $("#popularMovieList");
                var ul = $("<ul style='display:flex; flex-direction: row; justify-content: space-around; padding:0px;'>").appendTo(div);
                console.log(data);
                console.log(data.length);
                for(var i=0; i<data.length;i++){
                    var li = $("<li>").bind("click",data[i].movie_seq,function(e){goView(e.data)}).appendTo(ul);
                    var div = $("<div style='text-align:center;'>").appendTo(li);
                    $("<div>").html("<img src='"+data[i].image_url+"'>").appendTo(div);
                    $("<div>").html(data[i].movie_title).appendTo(div); 
                    //$("<div>").addClass("star_score").html("<span class='st_off'><span class='st_on' style='width:"+(data[i].user_rating)*10+"%'></span></span>").appendTo(li);
                    $("<div style='color:red'>").html("<img src='star_on.png' style='height:25px; margin-bottom:3px;'> "+data[i].user_rating).appendTo(div);
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    }

    //최신 개봉 영화 순
    function getLatestMovieList(){
        $.ajax({
            url:"/movie/getLatestMovieList",
            type:"get",
            dataType: "json",
            success: function(data) {
                var div = $("#latestMovieList");
                var ul = $("<ul style='display:flex; flex-direction: row; justify-content: space-around; padding:0px;'>").appendTo(div);
                console.log(data);
                console.log(data.length);
                for(var i=0; i<data.length;i++){
                    var li = $("<li>").bind("click",data[i].movie_seq,function(e){goView(e.data)}).appendTo(ul);
                    var div = $("<div style='text-align:center;'>").appendTo(li);
                    $("<div>").html("<img src='"+data[i].image_url+"'>").appendTo(div);
                    $("<div>").html(data[i].movie_title).appendTo(div); 
                    $("<div style='color:red'>").html("<img src='star_on.png' style='height:25px; margin-bottom:3px;'> "+data[i].user_rating).appendTo(div);
                }
            },
            error: function(err){
                console.log(err);
            }
        });
    }

    /**
     * 20191210 현규
     * seq를가지고 view로 이동
     */
    function goView(movieSeq){
        frm.movieSeq.value = movieSeq;
        frm.seq.value = movieSeq;
        //goPage("/getMovieView");
        //goPage("/movie/detail?seq="+movieSeq);
        console.log(movieSeq);
        goPage("/movie/detail");
    }

     /**
     * 20191210 현규
     * submit() call
     * 전체 form은 header.ejs와 footer.ejs에서 열고 닫힌다. -> drop 
     * 폼 이동을 간편하게 하기 위함
     */
    function goPage(forwardStr){
        console.log(forwardStr);
        frm.action = forwardStr;
        frm.method = "get"
        frm.target = "_self";
        frm.submit();
    }

</script>

<form name="frm" method="" action="">
<!-- movieSeq넘기기 위한 히든값입니다. -->
<input type="hidden" name="movieSeq"/>
<input type="hidden" name="seq"/>
<!-- 
    191205 현규
    Ajax추가, 확인
 -->
<div id="middleContainer">
    <div id="movieCarouselContainer" style="margin-top: 40px;">
        <div class="slider">
            <ul style="display:flex; flex-direction: row; justify-content: space-around; padding:0px;">
                <li class="slider__item">
                    <div><img src="http://img.movist.com/?img=/x00/05/13/60_p1.jpg" style="width: 200px;"></div>
                    <div>겨울왕국2</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">9</div>
                </li>
                <li class="slider__item">
                    <div><img src="http://img1.daumcdn.net/thumb/C180x260/?fname=http://t1.daumcdn.net/movie/6651521f62d94a5d8b8ceae8aebcb9501575422460657" style="width: 200px;"></div>
                    <div>포드 V 페라리</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">9.57</div>
                </li>
                <li class="slider__item">
                    <div><img src="http://img1.daumcdn.net/thumb/C180x260/?fname=http://t1.daumcdn.net/movie/21bd40df541c43bbbd6a8058e21bacce1574236016658" style="width: 200px;"></div>
                    <div>나이브스 아웃</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">8.3</div>
                </li>
                <li class="slider__item">
                    <div><img src="//img1.daumcdn.net/thumb/C180x260/?fname=http://t1.daumcdn.net/movie/71b16e5b50b0466ab72437fb9103e8b11575506912753" style="width: 200px;"></div>
                    <div>감쪽같은 그녀</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">8.3</div>
                </li>
                <li class="slider__item">
                    <div><img src="//img1.daumcdn.net/thumb/C180x260/?fname=http://t1.daumcdn.net/movie/10291d6cc5f04385aec91eec026ccbb51572916944250" style="width: 200px;"></div>
                    <div>라스트 크리스마스</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">7.4</div>
                </li>
                <li class="slider__item">
                    <div><img src="//img1.daumcdn.net/thumb/C180x260/?fname=http://t1.daumcdn.net/movie/fbe0d4ccc4804448a8aacb9e98ccccfe1573614596648" style="width: 200px;"></div>
                    <div>블랙머니</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">9.2</div>
                </li>
                <li class="slider__item">
                    <div><img src="//img1.daumcdn.net/thumb/C180x260/?fname=http://t1.daumcdn.net/movie/d578c5d478bf43b09bfb7e9f8cd72bf01573095574793" style="width: 200px;"></div>
                    <div>나를 찾아줘</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">6.8</div>
                </li>
                <li class="slider__item">
                    <div><img src="//img1.daumcdn.net/thumb/C180x260/?fname=http://t1.daumcdn.net/movie/bcfd5bac46aa450eb7bbf3d07c5b8bca1574214529901" style="width: 200px;"></div>
                    <div>쥬만지: 넥스트 레벨</div>
                    <div style="color:red"><img src="star_on.png" style="height:30px; margin-bottom:3px;">9.0</div>
                </li>
            </ul>
        </div>
    </div>

    <div id="contentsContainer">
        <div id="movieContainer">
            <!-- 1. 인기영화 -->
            <!--
                인기영화는 movie_info table의 컬럼 중
                streaming_cnt의 횟수가 높은 기준으로 5개를 선정하여
                리스트로 보여줍니다.
            -->
            <div id="popular">
                <div class="contents">
                    <div class="boxTitle"><img src="hot_icon.png" style="height:20px; margin-bottom: 3px;">실시간 인기 TOP5</div>
                    <div class="box" id="popularMovieList"></div>
                </div>
            </div>

            <!-- 2. 최신영화 -->
            <!-- 
                최신영화는 releaseDate desc 순으로 보여줍니다...만
                네이버 api에서 개봉일을 년도까지만 제공해서
                금일 기준으로 영화 검색의 top 5개를 뽑았습니다.
            -->
            <div id="latest">
                <div class="contents">
                    <div class="boxTitle"><img src="new_icon.png" style="height:20px; margin-bottom: 3px;">최신영화</div>
                    <div class="box slide_btn_box" id="latestMovieList"></div>
                </div> 
            </div>
            <!-- 3. 영화 예고편 -->
            <!--
                시간관계상
                유튜브 링크로 대체?
            -->

            <div id="trailer" class="trailer">
                <div class="contents">
                    <div class="boxTitle">인기 예고편</div>
                    <div class="box">
                        <ul style="display:flex; flex-direction: row; justify-content: space-around; padding:0px; list-style-type: none;">
                            <li>
                                <div>
                                    <iframe width="300" height="200" src="https://www.youtube.com/embed/9Dfkx9vEPw0" frameborder="0"></iframe>
                                    <a href="#" style="display:block">블랙위도우</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                <iframe width="300" height="200" src="https://www.youtube.com/embed/FKAbTcss1ow" frameborder="0"></iframe>
                                <a href="#" style="display:block">백두산</a>
                            </div>
                            </li>
                            <li>
                                <div>
                                <iframe width="300" height="200" src="https://www.youtube.com/embed/FX-XQpeilms" frameborder="0"></iframe>
                                <a href="#" style="display:block">해치지않아</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <iframe width="300" height="200" src="https://www.youtube.com/embed/x60mB0zXZ38" frameborder="0" ></iframe>
                                    <a href="#" style="display:block">조커</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

</div>
</form>
<%- include ('./common/footer'); -%>
