<%- include ('./common/header'); -%>
<%- include ('./common/topMenu'); -%>

<script>
   function test(){
       alert($("#test").val());
   }
</script>

<!-- 
    191205 현규
    
 -->

<div>
    <h4>템플릿 체크 중</h4>
    <input type="text" id="test"/><input type="button" value="확인" onclick="test()">
</div>


<%- include ('./common/footer'); -%>