<html>
<head>
    <link href="./../public/stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="./../public/stylesheets/movie_list.css" rel="stylesheet" type="text/css">
    
    
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script type="text/javascript">
        WebFont.load({
            // For google fonts
            google: {
                families: ['Noto Sans', 'Noto Sans KR', 'Nanum Myeongjo', 'Nanum Pen Script']
            }
        });
    </script>

</head>

<body>
    <div class="movieListContainer">
        <div class="page-head">
            <div>
                영화리스트
            </div>
            <div class="movie-list-orderby">
                <select>
                    <option value="name">
                        이름 순
                    </option>
                    <option value="insert-date">
                        출시일 순
                    </option>
                </select>
            </div>
        </div>
        <div class="movie-page-index">
            <a class="index">
                이전
            </a>
            <a class="index">
                1
            </a>
            <a class="index">
                2
            </a>
            <a class="index">
                3
            </a>
            <a class="index">
                4
            </a>
            <a class="index">

            </a>
            <a class="index">

            </a>
            <a class="index">

            </a>
            <a class="index">
                다음
            </a>
        </div>
        <% for(var i = 0; i<; i++) %>


        <div class="movie-list">
            <article class="listing">
                <a class="movie-hover" href="">겨울왕국</a>
                <div class="movie-image">
                    <img class='img' src='https://movie-phinf.pstatic.net/20191121_221/1574298335357mqgLk_JPEG/movie_image.jpg'>
                </div>
                <div class="movie-info">
                    <div class="movie-title">
                        겨울왕국
                    </div>
                    <div class="movie-release">
                        개봉일 : 2019-10-10
                    </div>
                    <div class="movie-desc">
                        《겨울왕국 2》는 2019년 미국 월트 디즈니 애니메이션 스튜디오에서 제작한 3D 컴퓨터 애니메이션 뮤지컬, 판타지 영화로 엘사의 힘의 기원을 찾고 아렌델을 위기로부터 구하기 위해 엘사와 안나가 진실을 찾으러 마법의 숲으로 모험을 떠나는 이야기를 그린다.
                    </div>
                </div>
            </article>
            <article class="listing">
                <a class="movie-hover" href="">겨울왕국</a>
                <div class="movie-image">
                    <img class='img' src='https://movie-phinf.pstatic.net/20191121_221/1574298335357mqgLk_JPEG/movie_image.jpg'>
                </div>
                <div class="movie-info">
                    <div class="movie-title">
                        겨울왕국
                    </div>
                    <div class="movie-release">
                        개봉일 : 2019-10-10
                    </div>
                    <div class="movie-desc">
                        《겨울왕국 2》는 2019년 미국 월트 디즈니 애니메이션 스튜디오에서 제작한 3D 컴퓨터 애니메이션 뮤지컬, 판타지 영화로 엘사의 힘의 기원을 찾고 아렌델을 위기로부터 구하기 위해 엘사와 안나가 진실을 찾으러 마법의 숲으로 모험을 떠나는 이야기를 그린다.
                    </div>
                </div>
            </article>
            <article class="listing">
                <a class="movie-hover" href="">겨울왕국</a>
                <div class="movie-image">
                    <img class='img' src='https://movie-phinf.pstatic.net/20191121_221/1574298335357mqgLk_JPEG/movie_image.jpg'>
                </div>
                <div class="movie-info">
                    <div class="movie-title">
                        겨울왕국
                    </div>
                    <div class="movie-release">
                        개봉일 : 2019-10-10
                    </div>
                    <div class="movie-desc">
                        《겨울왕국 2》는 2019년 미국 월트 디즈니 애니메이션 스튜디오에서 제작한 3D 컴퓨터 애니메이션 뮤지컬, 판타지 영화로 엘사의 힘의 기원을 찾고 아렌델을 위기로부터 구하기 위해 엘사와 안나가 진실을 찾으러 마법의 숲으로 모험을 떠나는 이야기를 그린다.
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!--
갤러리를 만들어보자
그리드사용
-->



</body></html>