<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/stylesheets/general.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    영화 리스트
    <% for(i = 0; i<records.length; i++){%>
        <div>
            <%= records[i].movie_name %>
            <%= records[i].movie_director %>
            <%= records[i].movie_desc %>
            <%= records[i].release_date %>
        </div>
    <% } %>
</body>
</html>