<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/stylesheets/general.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <% for (var i=0; i<datas.length; i++ ) {%>
        <%=datas[i].movie_name%>
        <%=datas[i].movie_desc%>



    <% } %>



</body>
</html>