.auth-head {
    
    width: 100%;
    background: #FFFFFF;
    /*  플렉스  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    border-bottom: 1px solid #CCC;
}

.auth-head .btn
{
    position: absolute;
    right: 10px;
}

.auth-head #title {
    font-weight: bold;
}

.auth-detail {
    width: 100%;
    background: #FFFAFA;
    padding: 20px 0px;

    /* 플렉스 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-detail .form-group {
    width: 300px;
}

.auth-foot {
    width: 100%;
    background: #FFFFFF;
    /*  여백  */
    padding: 10px 0px;
    /*  플렉스  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #CCC;
}


.auth-form {
    /*  사이즈  */
    width: 400px;
    /*  플렉스  */
    display: flex;
    flex-direction: column;
    /*  박스 가운데 정렬*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    /*    그림자 */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px / 15px;
}

@media (max-width: 768px) {

    .auth-head{
        margin-top: 30px;
    }

    .auth-form {
        width: 100%;
        
        position: static;
        transform: none;

    }


}
