body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	width: 100%;
	border-top: 2px solid #444444;
	border-bottom: 2px solid #444444;
	border-collapse: collapse;
  }
  th, td {
	border-bottom: 1px solid #444444;
	padding: 10px;
  }

button{
	background:rgb(0, 0, 0);
	color:#fff;
	border:none;
	position:relative;
	height:25px;
	font-size:1em;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
  }
  button:hover{
	background:#fff;
	color:rgb(0, 0, 0);
  }
  button:before,button:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: rgb(0, 0, 0);
	transition:400ms ease all;
  }
  button:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
  }
  button:hover:before,button:hover:after{
	width:100%;
	transition:800ms ease all;
  }