.boardContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.page-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    min-width: 700px;
    width: 70%;
    max-width: 1000px;
	margin-top: 50px;
	margin-bottom: 30px;
    padding: 10px 0px;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 0, 0, 0.5);

}

a {
	color: #00B7FF;
}

table {

	border-top: 2px solid rgba(255, 0, 0, 0.5);
	border-bottom: 2px solid rgba(255, 0, 0, 0.5);
	border-collapse: collapse;
	min-width: 700px;
    width: 70%;
	max-width: 1000px;
}

.top-btn
{
	margin: 30px,0px;
}

th,
td {
	border-bottom: 1px solid rgba(255, 0, 0, 0.5);
	padding: 10px;
}

#btn {
	background: rgba(255, 0, 50, 0.8);
	color: #fff;
	border: none;
	position: relative;
	height: 25px;
	font-size: 1em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

#btn:hover {
	background: #fff;
	color: rgba(255, 0, 50, 1);
}

#btn:before,
#btn:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: rgba(255, 0, 0, 0.5);
	transition: 400ms ease all;
}

#btn:after{
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

#btn:hover:before,
#btn:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

@media (max-width: 768px)
{
    .page-head {
        margin-top: 10%;
        padding: 0 5%;
        min-width: 100%;
        widows: 100%;
        max-width: 100%;
    }

	.box
	{
		min-width: 100%;
        widows: 100%;
        max-width: 100%;
	}

	table {
        min-width: 100%;
        widows: 100%;
        max-width: 100%;
	}


}