
.movieContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    min-width: 700px;
    width: 70%;
    max-width: 1000px;
    margin-top: 50px;
    padding: 10px 0px;

    font-weight: bold;
    border-bottom: 2px solid rgba(255, 0, 0, 0.5);

}

/* 영화정보 */
.movie-screen {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 700px;
    width: 70%;
    max-width: 1000px;
    min-height: 350px;

    padding: 3% 4%;

    border-top: 2px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.movie-image {
    width: 150px;
    height: 214px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.img
{
    width: 150px;
    height: 214px;
}
.movie-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    height: 100%;
    margin-left: 4%;
}

.movie-info #sub-box
{

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 4%;
}


#title
{
    font-size: 2em;
    font-weight: bold;
}

#desc
{
    
    color: rgba(0, 0, 0, 0.8);
}

#sub-desc
{
    color: rgba(255, 0, 120, 1);
}


.movie-review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.reply-list {
    margin-top: 20px;

    min-width: 700px;
    width: 70%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.reply-box {
    display: flex;
    flex-direction: column;
    
    
    min-height: 50px;
    padding: 3% 4%;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

}


.review-form {

    min-width: 700px;
    width: 70%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}

.review-form #top {
    margin-bottom: 10px;
}



.review-form #bottom {
    display: flex;

    flex-direction: row;
    align-items: center;

    height: 150px;
    box-sizing: border-box;

}

#top {
    color: rgba(255, 0, 0, 0.5);
    font-size: 1em;
}

#top .review-rating {

    width: 50px;
    border: 2px solid rgba(255, 0, 0, 0.3);

}

#bottom .review-text {

    width: 90%;
    height: 100%;
    resize: none;
    margin-right: 10px;

    border: 2px solid rgba(255, 0, 0, 0.3);
    background: rgba(255, 0, 0, 0.01)
}

#bottom .review-add-btn {
    height: 100%;
    width: 10%;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    border: none;
    outline: none;
    align-self: center;
    cursor: pointer;

}

.star {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(/star_empty.png) no-repeat 0 0;
    background-size: 40px;
    margin-right: -3px;
}
.star.on {
    background-image: url(/star_on.png);
}


@media (max-width: 768px)
{
    .page-head {
        padding: 0 5%;
        min-width: 100%;
        widows: 100%;
        max-width: 100%;
    }

    .movie-screen
    {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
    }

    .review-form {

        min-width: 100%;
        width: 100%;
        max-width: 100%;

}
