.nav-bar {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 5px 10px;


}

.nav-btn {
    background: #555;
    padding: 5px 15px;
    height: 30px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px 5px;
    color: white;
}
