<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is Header</title>
    <%- include ('./includeFiles'); -%>
    <!--
    css리셋, 부트스트랩
    191206 새결
    -->
    <link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="stylesheets/general.css" rel="stylesheet" type="text/css">
</head>
<!-- 
    191204 현규
    html, body, div(mainContainer)의 닫는 태그는
    footer에 있으므로 잊지말고 include해서 사용하세요
 -->
<body>
<div id="mainContainer">