<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is Header</title>
    <%- include ('./includeFiles'); -%>
</head>
<!-- 
    191204 현규
    html, body, div(mainContainer)의 닫는 태그는
    footer에 있으므로 잊지말고 include해서 사용하세요
 -->
<body>
<div id="mainContainer">
