<div class="topMenuContainer">

    <button class="burger" onclick="SwitchVerticalMenu()">
        햄
    </button>
    <div class="topMenu">
        <!-- 대메뉴 설정 -->
        <a href="/">
            <div class="topMenuBtn">
                메인
            </div>
        </a>
        <a href="/movie/list">
            <div class="topMenuBtn">
                영화목록
            </div>
        </a>
        <a href="/board">
            <div class="topMenuBtn">
                게시판
            </div>
        </a>
        <% if(session && session.isLogin) { %>
        <a href="/movie/library">
            <div class="topMenuBtn">
                라이브러리
            </div>
        </a>
        <a href="/auth?mode=update">
            <div class="topMenuBtn">
                <%= session && session.isLogin?session.userID:null %>
            </div>
        </a>
        <a href="/auth?mode=logout">
            <div class="topMenuBtn">
                로그아웃
            </div>
        </a>
        <%} else {%>
        <a href="/auth?mode=login">
            <div class="topMenuBtn">
                로그인
            </div>
        </a>
        <a href="/auth?mode=register">
            <div class="topMenuBtn">
                회원가입
            </div>
        </a>
        <% } %>
    </div>
    <div class="verticalMenu">
        <!-- 대메뉴 설정 -->
        <a href="/">
            <div class="topMenuBtn">
                메인
            </div>
        </a>
        <a href="/movie/list">
            <div class="topMenuBtn">
                영화목록
            </div>
        </a>
        <a href="/board">
            <div class="topMenuBtn">
                게시판
            </div>
        </a>
        <% if(session && session.isLogin) { %>
        <a href="/movie/library">
            <div class="topMenuBtn">
                라이브러리
            </div>
        </a>
        <a href="/auth?mode=update">
            <div class="topMenuBtn">
                <%= session && session.isLogin?session.userID:null %>
            </div>
        </a>
        <a href="/auth?mode=logout">
            <div class="topMenuBtn">
                로그아웃
            </div>
        </a>
        <%} else {%>
        <a href="/auth?mode=login">
            <div class="topMenuBtn">
                로그인
            </div>
        </a>
        <a href="/auth?mode=register">
            <div class="topMenuBtn">
                회원가입
            </div>
        </a>
        <% } %>
    </div>
    <script>
        var isMenuOpen = false;
        $('.verticalMenu').hide();
        function SwitchVerticalMenu()
        {
            isMenuOpen = !isMenuOpen;
            if (isMenuOpen) 
            {
                $('.verticalMenu').show();
                $('.burger').addClass('on');
                
            } else 
            {
                $('.verticalMenu').hide();
                $('.burger').removeClass('on');
            }
        }
    </script>
</div>