<div id="topMenuContainer">

    <div id="topInfo" class="topInfo">
        <div style="float:left;margin:3px;">
            <!-- <img src="" class="" onclick="location.href='/'" /> -->
            <p style="font-size:8px;" onclick="location.href='/'">여기 로고와야함</p>
        </div>
        <div style="float:right;margin:5px;">
            <!-- <span ><%# user.getUserName() #%></span>&nbsp;&nbsp; -->
            <input type="button" value="로그아웃" onclick="location.href='/'" />
        </div>
    </div>

    <div id="topMenu" class="topMenu">
        <!-- 대메뉴 설정 -->
        <div class="topMenuBtn" onclick="">메인</div>
        <div class="topMenuBtn" onclick="">게시판</div>
        <div class="topMenuBtn" onclick="">대메뉴3</div>
        <div class="topMenuBtn" onclick="">대메뉴4</div>
    </div>

    <div id="topNavi">
        <img src="" height="12px"onclick="" />
    </div>
    
</div>